<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<!-- 게시판 전체조회 -->
	<select id="boardList" resultType="com.myprj.dto.BoardDTO">
		SELECT * FROM MY_BOARD
	</select>
	
	<!-- 게시글 하나 조회 -->
	<select id="boardOne" resultType="com.myprj.dto.BoardDTO" parameterType="String">
		SELECT * FROM MY_BOARD WHERE NO = #{no}
	</select>
	
	<!-- 글쓰기 -->
	<insert id="boardWrite" parameterType="com.myprj.dto.BoardDTO">
		INSERT INTO MY_BOARD(NO
							,TITLE
							,CONTENTS
							,USERID) 
		   VALUES(
		   		MY_BOARD_SEQ.NEXTVAL
		   	   , #{title}
		   	   , #{contents}
		   	   , #{userId}
		   	   )
	</insert>
</mapper>